<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
    <footer class="footer" id="footer-main" th:fragment="footer">
		<!-- <div class="container w-30">
			<div class="row justify-content-md-center pt-4 pb-3">
				<div class="col text-center">
					<p class="text">Escuela de Minas "Dr. Horacio Carrillo" </p>
				</div>
			</div>
		</div> -->
		<div class="grupo-1">
            <div class="box">
                <h2>Sede Central</h2>
                <p>Avda. Italia N 47 - C.P.:4600 - San Salvador de Jujuy, Jujuy - Argentina</p>
            </div>
            <div class="box">
                <h2>Sede La Quiaca</h2>
                <p>Republica de Siria 388 esq 25 de Mayo - La Quiaca, Jujuy, Argentina</p>
            </div>
            <div class="box">
                <h2>Sede Yuto</h2>
                <p>Entre Rios entre calle Sarmiento y Cordoba - Yuto, Jujuy, Argentina</p>
            </div>
            <div class="box">
                <h2>Redes Sociales</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/escminasunju/" target="_blank" class="fa-brands fa-facebook"></a>
                    <a href="https://www.youtube.com/channel/UCt5rO4pzfdq79r-o38xD0ZQ" target="_blank" class="fa-brands fa-youtube"></a>
                    <a href="https://twitter.com/escuelademinas?s=08" target="_blank" class="fa-brands fa-twitter"></a>
                    <a href="https://www.instagram.com/escuelademinas/?igshid=YmMyMTA2M2Y%3D" target="_blank" class="fa-brands fa-instagram"></a>
                </div>
                <h3>Telefono: 0388 422-1598/99</h3>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>Escuela de Minas</b> - Todos los Derechos Reservados.</small>
        </div>
	</footer>
</body>

</html>