<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
	<!--  
  <div class="nav--menu justify-content-center" th:fragment="navegation">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="auxb">
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
        </div>
        <div class="callapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Menu Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recreationalActivities">Actividades Recreativas</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/studyMaterial">Material de Estudio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inscription">Inscripciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/matriculation">Matriculacion anual</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    
  </div>
  -->
  
  <div class="container__menu" th:fragment="navegation">
    	<div class="logo">
			<img src="../../img/logo_edm_sin_fondo.png" alt="">
        </div>
        <div class="social_networks">
	  		<ul>
	  			<li>	
		    		<a href="https://www.facebook.com/escminasunju/">
		    			<i class="fa-brands fa-facebook"></i>
		    		</a>	        
		        </li>
		        <li>
		        	<a href="https://www.youtube.com/channel/UCt5rO4pzfdq79r-o38xD0ZQ">
		        		<i class="fa-brands fa-youtube"></i>
		        	</a>
		        </li>
		        <li>
		        	<a href="https://twitter.com/escuelademinas?s=08">
		        		<i class="fa-brands fa-twitter"></i>
		        	</a>
		        </li>
		        <li>
		        	<a href="https://www.instagram.com/escuelademinas/?igshid=YmMyMTA2M2Y%3D">
		        		<i class="fa-brands fa-instagram"></i>
		        	</a>
		        </li>
	        </ul>
        </div>
        <div class="menu">
            <i class="fas fa-bars" id="btn_menu"></i>
            <div id="back_menu"></div>
            <nav id="nav">
            	<img src="../../img/logo_edm_sin_fondo(largo).png" alt="">
                <ul>
                	<li>
                		<i class="fa-sharp fa-solid fa-house" id="btn_menu"></i>
                		<a href="/">Menu Principal</a>
                	</li>
                    <li>
                    	<i class="fa-solid fa-pencil" id="btn_menu"></i>
                    	<a href="/recreationalActivities">Actividades Recreativas</a>
                    </li>
                    <li>
                    	<i class="fa-solid fa-address-book" id="btn_menu"></i>
                    	<a href="/contact">Contacto</a>
                    </li>
                    <li>
                    	<i class="fa-solid fa-book" id="btn_menu"></i>
                    	<a href="/studyMaterial">Material de Estudio</a>
                    </li>
                    <li>
                    	<i class="fa-solid fa-pen-to-square" id="btn_menu"></i>
                    	<a href="/inscription">Inscripciones</a>
                    </li>
                    <li>
                    	<i class="fa-solid fa-calendar" id="btn_menu"></i>
                    	<a href="/matriculation">Matriculacion Anual</a>
                    </li>
                </ul>
            </nav>
     	</div>
     </div>
  
</body>

</html>