<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
	<div class="container__menu" th:fragment="navegation">
		<div class="logo">
			<img src="/img/logo_edm_sin_fondo.png" alt="">
		</div>
		<div class="social_networks">
			<ul>
				<li>
					<a href="https://www.facebook.com/escminasunju/">
						<i class="fa-brands fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCt5rO4pzfdq79r-o38xD0ZQ">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/escuelademinas?s=08">
						<i class="fa-brands fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/escuelademinas/?igshid=YmMyMTA2M2Y%3D">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="menu">
			<i class="fas fa-bars" id="btn_menu"></i>
			<div id="back_menu"></div>
			<nav id="nav">
				<img src="/img/logo_edm_sin_fondo(largo).png" alt="">
				<ul>
					<li>
						<i class="fa-sharp fa-solid fa-house" id="btn_menu"></i>
						<a href="/">Menu Principal</a>
					</li>
					<li>
						<i class="fa-solid fa-pencil" id="btn_menu"></i>
						<a href="/recreationalActivities">Actividades Recreativas</a>
					</li>
					<li>
						<i class="fa-solid fa-address-book" id="btn_menu"></i>
						<a href="/contact">Contacto</a>
					</li>

				</ul>
			</nav>
		</div>
	</div>

</body>

</html>