* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
	padding-bottom: 50px;
}

.container__menu {
  width: 100%;
  /* height: 100%; */
  /* display: block; */
  margin: auto;
  padding: 5px 20px;
  display: flex;
  /* position: fixed; */
  /* bottom: -10%; */
  z-index: 50;
  background-color: #fff;
  position: fixed;
  /* background-color: #f00; */
  /* height: 100px; */
  top: 0;
  /* left: 0; */
  /* right: 0; */
}

.logo {
  height: 100%;
  display: flex;
  align-self: start;
  align-items: center;
}

.logo img {
  width: 60px;
}

.social_networks {
  display: flex;
  align-self: start;
  align-items: center;
}

.social_networks ul {
  margin: 0;
  padding: 0px 0px 0px 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 30px);
  margin: auto;
  justify-items: center;
  align-items: center;
}

.social_networks ul li {
  list-style: none;
  margin-left: 0;
}

.social_networks ul li img {
  width: 25px;
  height: 25px;
}

.social_networks ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
}

.social_networks ul li a.active,
.social_networks ul li a:hover {
  border-radius: 5px;
  background: #c45959;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.47);
  transition: 0.3s ease-out;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* position: absolute; */
  /* top: 10%; */
}

.menu ul {
  display: flex;
  margin: auto;
}

.menu ul li {
  list-style: none;
  margin-left: 15px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 10px;
  color: #000000;
  text-transform: uppercase;
}

.menu ul li a.active,
.menu ul li a:hover {
  border-radius: 50px;
  background: #c45959;
  -webkit-box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.47);
  transition: 1s ease-out;
}

.menu nav img {
  display: none;
}

.menu #btn_menu {
  display: none;
}

/*Haciendo la p�gina Responsive*/

@media screen and (max-width: 1024px) {
  .container__menu {
    display: flex;
    padding: 15px 10px;
  }
  
  .menu {
	display: flex;
	align-items: center;
	margin-left: auto;
	/* position: absolute; */
	/* top: 10%; */
  }
  
  .social_networks ul {
	margin: 0;
	padding: 0px 0px 0px 3px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(2, 30px);
	margin: auto;
	justify-items: center;
	align-items: center;
  }

  .social_networks ul li {
    list-style: none;
    margin-left: 0;
  }

  .social_networks ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    color: #000000;
    text-transform: uppercase;
  }

  .menu ul {
    padding: 0px;
  }

  .menu ul li {
    list-style: none;
    margin-left: 5px;
  }


}

@media screen and (max-width: 800px) {
  .container__menu {
	display: flex;
	justify-content: space-between;
	padding: 15px 10px;
  }

  .menu {
	display: flex;
	align-items: center;
	margin-left: 0px;
	/* position: absolute; */
	/* top: 10%; */
  }
  
  .menu nav {
    position: fixed;
    top: 0;
    right: -350px;
    background: white;
    width: 350px;
    height: 100vh;
    padding: 40px;
    z-index: 100;
    transition: all 300ms;
  }

  .social_networks ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	margin: auto;
  }

  .social_networks ul li a {
    text-decoration: none;
    font-size: 35px;
    padding: 0px 10px;
    color: #000000;
    text-transform: uppercase;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 40px;
    padding: 0px;
  }

  .menu ul li {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
  }

  .menu ul li a {
    text-align: center;
    align-content: center;
    margin: auto 0px;
  }

  .menu nav img {
    display: block;
    width: 250px;
  }

  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  }

  .menu #btn_menu:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

/*============== STUDY MATERIAL CSS ==============*/

img {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 0;
  vertical-align: top;
}

body {
  color: #7f7f7f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #fff;
  text-align: center;
}

a {
  color: #7c7c7c;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.padding {
  padding-top: 60px;
}
.pages-title {
  margin-bottom: 48px;
  margin-top: 31px;
}
.pages-title h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.pages-title h1 {
  color: #333333;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/*==Box-themes=========================*/
.us-themes {
  padding: 40px 0 42px;
}

#demos .image a {
  display: block;
  position: relative;
}
.image {
  height: 550px;
  overflow: hidden;
}
.demo-bg {
  background-attachment: scroll;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #eaeaea;
  display: block;
  height: 536px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 14px;
  transition: background-position 12s ease 0s;
  width: 100%;
}
#demos .button {
  background: #1bb4b9 none repeat scroll 0 0;
  border-radius: 30px;
  color: #fefefe;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 46px;
  padding: 8px 25px;
  text-transform: uppercase;
}
#demos .button:hover {
  background: #f5b120;
}

/*:::::Pie de Pagina*/

/*#footer-main {
  /*background-color: #000;*/
  /*color: #fff;
  position: absolute;
  bottom: 0;
  overflow: auto;*/
  /* justify-content: center; */
  /*margin: 10%;*/
  /* display: flex; */
  /* justify-content: center; */
  /*z-index: 50;
  /*padding: 3px;*/
/*}*/

.footer{
	color: #fff;
    overflow: auto;
    width: 100%;
    background-color: #0a141d;
    z-index: 50;
    position: absolute;
    bottom: 0;
}

.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}
/*
.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img{
    width: 75px;
}
*/
.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .grupo-1 .box h3{
    color: #fff;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 13px;
}

.footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 5px;
    font-size: 11px;
}
.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin-right: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .grupo-1 .red-social a:hover{
    color: #c45959;
}
.footer .grupo-2{
    background-color: #0a1a2a;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
}
.footer .grupo-2 small{
    font-size: 10px;
}
@media screen and (max-width:800px){
    .footer {
      z-index: 49;
    }
    
    .footer .grupo-1{
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px 25px;
      padding: 15px 0px;
    }
    
    .footer .grupo-1 .box h2{
	    margin-bottom: 10px;
	    font-size: 14px;
	}
	
	.footer .grupo-1 .box h3{
	    margin-top: 2px;
	    margin-bottom: 5px;
	    font-size: 11px;
	}
	
	.footer .grupo-1 .box p{
	    color: #efefef;
	    margin-bottom: 5px;
	    font-size: 9px;
	}
	    
    .footer .grupo-2 small{
      font-size: 9px;
	}
}